[project]
name = "saucedemo-qa"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest>=9.0.2",
    "requests>=2.32.5",
    "selenium>=4.40.0",
]
